
    {{ form_start(form,{'attr': {'id': 'formInstall'}}) }}

    <h2 class ="mt-4 mb-4">Après compteur</h2>

    <div class="row row-aftermeter">
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.aftermeter.material) }}
            </p>
            {{ form_errors(form.aftermeter.material,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.aftermeter.material, {'attr':{'class':'w-100'}}) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.aftermeter.diameter) }}
            </p>
            {{ form_errors(form.aftermeter.diameter,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.aftermeter.diameter, {'attr':{'class':'w-100'}}) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.aftermeter.screwthread) }}
            </p>
            {{ form_errors(form.aftermeter.screwthread,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.aftermeter.screwthread, {'attr':{'class':'w-100'}}) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.aftermeter.thread) }}
            </p>
            {{ form_errors(form.aftermeter.thread,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.aftermeter.thread, {'attr':{'class':'w-100'}}) }}
        </div>
    </div>
    <div class ="row">
        <div class = "col-12 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.aftermeter.accuracy) }}
            </p>
            {{ form_errors(form.aftermeter.accuracy,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.aftermeter.accuracy, {'attr':{'class':'w-100'}}) }}
        </div>
    </div>

    <h2 class ="mt-4 mb-4">Sous évier</h2>

    <div class="row row-undersink">
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.undersink.material) }}
            </p>
            {{ form_errors(form.undersink.material,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.undersink.material, {'attr':{'class':'w-100'}}) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.undersink.diameter) }}
            </p>
            {{ form_errors(form.undersink.diameter,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.undersink.diameter, {'attr':{'class':'w-100'}}) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.undersink.screwthread) }}
            </p>
            {{ form_errors(form.undersink.screwthread,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.undersink.screwthread, {'attr':{'class':'w-100'}}) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.undersink.thread) }}
            </p>
            {{ form_errors(form.undersink.thread,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.undersink.thread, {'attr':{'class':'w-100'}}) }}
        </div>
    </div>
    <div class ="row">
        <div class = "col-12 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.undersink.accuracy) }}
            </p>
            {{ form_errors(form.undersink.accuracy,{'attr':{'class':'alert alert-danger'}}) }}
            {{ form_widget(form.undersink.accuracy, {'attr':{'class':'w-100'}}) }}
        </div>
    </div>

    <h2 class ="mt-4 mb-4">Points d'eau</h2>

    <div class="row row-bath">
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.privy) }}
            </p>
                {{ form_row(form.privy.vars.prototype.number) }}
                {{ form_row(form.privy.vars.prototype.type) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_row(form.bath) }}
            </p>
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
            {{ form_label(form.shower) }}
            </p>
            {{ form_row(form.shower.vars.prototype.number) }}
            {{ form_row(form.shower.vars.prototype.type) }}
        </div>
        <div class="col-3 mt-2">
            <p class="mb-0 requiredInput">
                {{ form_label(form.sink) }}
            </p>
            {{ form_row(form.sink.vars.prototype.number) }}
            {{ form_row(form.sink.vars.prototype.type) }}
        </div>
    </div>

    <h2 class ="mt-4 mb-4">Ressources alternatives</h2>


    <div class="text-center m-4 pt-2">
        <div id="errorsTwo" class="alert alert-danger d-none"> Votre formulaire contient des erreurs.</div>
        <button id="submitFormInstall" class="btn btn-primary m-2 w-25">{{ button_label|default('Valider') }}</button>
    </div>

    {{ form_end(form) }}

