{% extends 'Front/layout.html.twig' %}

{% block body %}
    {{ form_start(form,{'attr': {'id': 'formConsumption'}}) }}
    {{ form_widget(form.waterConsumption) }}
    {{ form_row(form.stillWater) }}
    {{ form_widget(form.stillWaterBottle.vars.prototype.literPerWeek) }}
    {{ form_widget(form.stillWaterBottle.vars.prototype.waterBrand) }}
    {{ form_row(form.sparkWater) }}
    {{ form_widget(form.home) }}
    {{ form_widget(form.sparkWaterBottle.vars.prototype.literPerWeek) }}
    {{ form_widget(form.sparkWaterBottle.vars.prototype.waterBrand) }}
    {{ form_widget(form.waterHeater.vars.prototype.number) }}
    {{ form_widget(form.waterHeater.vars.prototype.type) }}
    {{ form_widget(form.heater.vars.prototype.number) }}
    {{ form_widget(form.heater.vars.prototype.type) }}
    {{ form_widget(form.homeAppliance.vars.prototype.number) }}
    {{ form_widget(form.homeAppliance.vars.prototype.type) }}
    <div class="text-center m-4 pt-2">
        <div id="errorsThree" class="alert alert-danger d-none"> Votre formulaire contient des erreurs.</div>
        <button id="submitFormConsumption"
                class="btn btn-primary m-2 w-25">{{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
