<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('/build/images/logo-aquapure.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('mainCss') }}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
          {% for message in messages %}
              <div class="text-center alert alert-{{ label }}">
                  {{ message }}
              </div>
          {% endfor %}
        {% endfor %}
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('mainJs') }}
        {% endblock %}
    </body>
</html>
